*{
    margin: 0px;
    padding: 0px;
}
#navbar
{
    color: white;
    background-color:black;
    height:90px;
    width:1530px;
    
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}
ul li{
    margin: 0px, 30px;
    padding:40px;
    font-size: 25px; 
}
a:hover{
    color: red;
    text-decoration: none;
}

.body1{
    background-color: rgba(0, 0, 0, 0.758);
}
h1{
    justify-content: center;
    font-size: 40px;
    text-align: center;
    border: 3px solid aqua;
    background-color:rgb(164, 71, 71);
    border-radius: 90px;
}

img{
    height: 300px;
    width: 250px;
    justify-content: right;
    text-align: right;
    float: right;
    margin: 65px;
    border-radius: 50%;

}

#rightdiv{
  
    width: 30%;
    float:right;
    height: 450px;
}
#leftdiv{

    width: 60%;
    float: left;
    height: 450px;
    display: flex;
    background-color: aquamarine;
    border-radius: 20px; 
    margin: 0px 30px;
 
}
#main{
    height: 520px;
    width: 1520px;
 
}

#footer1{
    text-align: center;
    width: 1530;
    height: 80px;
    margin: 20px;
    background-color: black;
}

p{
    font-size: 18px;
    color: white;
    margin: 40px 0px;
}




   

